<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nutrix demo</title>
</head>

<body>
    <div>
        Enter your app credentials. Provided demo credentials may not work.
    </div>
    <div>
        <label for="x-app-id">x-app-id:</label>
        <input type="text" id="x-app-id" value="86b63d84" placeholder="x-app-id">
        <label for="x-app-key">x-app-key:</label>
        <input type="text" id="x-app-key" value="869750a3fb85d9b755712baf44ffcdf2" placeholder="x-app-key">
        <button type="button" id="run-demo">Run DEMO</button>
    </div>

    <div id="error"></div>

    <h1>[GET] https://trackapi.nutritionix.com/v2/locations Response demo</h1>
    <div id="locations"></div>

    <h1>[GET] https://trackapi.nutritionix.com/v2/search/instant Response demo</h1>
    <div id="foods"></div>
    <script src="{{ url_for('static', filename='js/nutrix_demo.js') }}"></script>
</body>

</html>